%h1 Movies#trailer
%p Find me in app/views/movies/trailer.html.haml

%iframe{src:"http://www.youtube.com/embed/#{@movie.trailer}?autoplay=1&iv_load_policy=3", width:"640", height:"390", frameborder:0}