$red:#b9090b;
$yellow:#fded00;

body {
  margin-bottom: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.arrow-holder {
  width: 90%;
  height: 350px;
  margin: auto;
  .slide-right {
    background: url("slider-arrow-right.png");
    float: right;
  }
  .slide-left {
    background: url("slider-arrow-left.png");
    float: left;
  }
  .slide-right, .slide-left {
    height: 100%;
    width: 100px;
    z-index: 2;
  }
}

.table-holder {
  width: 960px;
  overflow: scroll;
  overflow-x: hidden;
  margin: auto;
  table {
    border-spacing: 15px;
    .movie_list {
      list-style: none;
      height: 100%;
      white-space: nowrap;
      td#empty {
        font-size: 48px;
      }
      td.movie_tile {
        vertical-align: top;
        display: inline-block;
        border: 2px solid black;
        margin:0 9px;
        width: 200px;
        height: 300px;
        padding: 10px;
        background: $red;
        .img, .title, .score {
          text-align: center;
          margin: auto;
        }
        .img {
          height: 179px;
          margin-bottom: 10px;
          img {
            border: 2px solid $yellow;
          }
        }
        .follow-action {
          margin-top: 15%;
          text-align: center;
        }
      }
      td.movie_tile:first-child {
        margin-left: 0;
      }
      td.movie_tile:last-child {
        margin-right: 0;
      }
    }
  }
}
